---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import NavBar from '../components/NavBar.astro';
import VerticalNav from '../components/VerticalNav.astro';
import Slideshow from '../components/SlideshowD&R.astro';
import SlideshowOffers from '../components/SlideshowOffers.astro';
import SlideshowCategories from '../components/SlideshowCategories.astro';
import ExploreCard from '../components/ExploreCard.astro';
---

<Layout title="Bienvenidos a Steam">
	<Header />
	<main>
		<section class="sectionBackground flex flex-col justify-center items-center h-[450px]">
			<div class="fullscreen-bg absolute h-[450px] w-screen z-40 ">
				<div class="gradient-right"></div>
				<div class="gradient-left"></div>
			</div>
			<div class="bgVideo absolute w-full ml-3 overflow-hidden z-0">
				<video class="ml-1.5" autoplay muted loop playsinline poster="https://web.archive.org/web/20240216163249im_/https://cdn.akamai.steamstatic.com/steam/clusters/frontpage/65b8f08efe2288a7cb56e345/page_bg_spanish.jpg?t=1707952653">
					<source src="https://cdn.cloudflare.steamstatic.com/steam/clusters/frontpage/65b8f08efe2288a7cb56e345/webm_page_bg_latam.webm?t=1707952653" type="video/webm">
					<source src="https://cdn.akamai.steamstatic.com/steam/clusters/frontpage/65b8f08efe2288a7cb56e345/mp4_page_bg_spanish.mp4?t=1707952653" type="video/mp4">
				</video>
			</div>
			<NavBar />
			<div class="h-[385px] w-screen hover:cursor-pointer">
			</div>
		</section>
		<section class="flex flex-row justify-end bg-[#1b2838] pt-5">
			<VerticalNav />
			<div class="flex flex-col w-full items-start ml-[70px]">
				<h2 class="text-sm">DESTADOS Y RECOMENDADOS</h2>
				<Slideshow />
				<div class="mt-20">
					<img src="https://cdn.cloudflare.steamstatic.com/steam/clusters/takeunder/05c5576603e7e08269683432/takeunder_desktop_spanish.jpg?t=1707773188" alt="banner" />
				</div>
				<div class="mt-10">
					<h2 class="text-sm">OFERTAS ESPECIALES</h2>
					<SlideshowOffers />
				</div>
				<div class="mt-20">
					<h2 class="text-sm">EXPLORAR POR CATEGORÍA</h2>
					<SlideshowCategories />
				</div>
				<div class="mt-20 w-[940px] h-[130px]">
					<div class="flex flex-col justify-center items-center text-[15px] text-[#8f98a0] p-4 bg-[#00000033] gap-3">
						<div>Inicia sesión para ver recomendacipnes personalizadas</div>
						<a class="p-1 inline-block cursor-pointer text-[#d2e885] bg-gradient-to-b from-[#a4d007] to-[#536904] hover:text-white">
							<span class="py-0 px-4">Iniciar sesión</span></a>
						<div>O <b class="text-white">regístrate</b> y únete a Steam de forma gratuita</div>
					</div>
				</div>
				<div class="mt-10  w-[940px]">
					<h2 class="text-sm mb-2">EXPLORAR STEAM</h2>
					<div class="grid grid-cols-4 gap-2">
						<ExploreCard>NOVEDADES</ExploreCard>
						<ExploreCard>NOVEDADES</ExploreCard>
						<ExploreCard>NOVEDADES</ExploreCard>
						<ExploreCard>NOVEDADES</ExploreCard>
					</div>
				</div>
			</div>
		</section>
	</main>	
</Layout>

<style>
	main {
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
	.gradient-left {
		position: absolute;
		left: 0;
		width: 200px;
		height: 100%;
		background: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba( 38,27,93,0 ) ), color-stop(100%, rgba(38,27,93,1) ) );
	}

	.gradient-right {
		position: absolute;
		right: 0;
		width: 200px;
		height: 100%;
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba( 38,27,93,0 ) ), color-stop(100%, rgba(38,27,93,1) ) );
	}

</style>
