<a class="flex justify-center items-center h-[58px] text-[16px] text-white font-medium text-center bg-gradient-to-r from-[#06BFFF] to-[#2D73FF] rounded-sm shadow shadow-black hover:cursor-pointer">
    <slot></slot>
</a>