<div class="flex flex-row bg-[#316282] border rounded-md border-slate-700 h-7 mr-1">
    <input type="search" placeholder="buscar" class="text-slate-900 text-sm bg-[#316282] border rounded-md italic border-transparent ml-3">
    <a href="#" class="text-white text-center">
        <img src="https://store.akamai.steamstatic.com/public/images/v6/search_icon_btn.png" alt="search" class="size-6">
    </a>
</div>