

<div class="verticalNavBar flex flex-col gap-y-5 ml-52 pt-3">
    <div>
        <img src="https://store.akamai.steamstatic.com/public/images//gift/steamcards_promo_03.png?v=1" alt="steam-cards" class="w-[178px] h-[66px]">
        <h3 class="text-[#88bde9] hover:text-white cursor-pointer">TARJETAS DE REGALO DE STEAM</h3>
        <p class="text-xs font-semibold text-[#a4b3c4]">Regala diversión</p>
    </div>
    <div>
        <h3 class="navBarTitles">VISTOS RECIENTEMENTE</h3>
        <nav class="flex flex-col">
            <a href="#" class="">The Witcher 3: Wild Hunt</a>
        </nav>
    </div>
    <div>
        <h3 class="navBarTitles">RECOMENDADOS</h3>
        <nav class="flex flex-col">
            <a href="#" class="">Amigos</a>
            <a href="#" class="">Mentores</a>
            <a href="#" class="">Etiquetas</a>
        </nav>
    </div>
    <div>
        <h3 class="navBarTitles">EXPLORAR CATEGORÍAS</h3>
        <nav class="flex flex-col">
            <a href="#" class="">Lo más vendido</a>
            <a href="#" class="">Novedades</a>
            <a href="#" class="">Próximamente</a>
            <a href="#" class="">Ofertas</a>
            <a href="#" class="">Títulos de RV</a>
            <a href="#" class="">Compatibles con mandos</a>
            <a href="#" class="">Perfecto para Deck</a>
        </nav>
    </div>
    <div>
        <h3 class="navBarTitles">EXPLORAR POR GÉNERO</h3>
        <nav class="flex flex-col">
            <a href="#" class="">Free to Play</a>
            <a href="#" class="">Acceso anticipado</a>
            <a href="#" class="">Acción</a>
            <a href="#" class="">Aventura</a>
            <a href="#" class="">Carreras</a>
            <a href="#" class="">Casuales</a>
            <a href="#" class="">Deportes</a>
            <a href="#" class="">Estrategia</a>
            <a href="#" class="">Indie</a>
            <a href="#" class="">Multijugador masivo</a>
            <a href="#" class="">Rol</a>
            <a href="#" class="">Simulación</a>
        </nav>
    </div>
</div>

<style>
    .verticalNavBar h3{
        font-size: small;
        font-weight: bold;
    }
    .verticalNavBar a{
        color: #7A8B9D;
        font-size: 12px;
        font-weight: 550;
    }

    .verticalNavBar a:hover{
        color: #66C0F4;
    }
    .navBarTitles{
        color: #536f86;
    }
</style>